{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'editar_producto.css' %}">

<div class="editar-producto-wrapper">
  <h2 class="editar-producto-titulo">Editar Producto</h2>

  {% if error_message %}
    <div class="editar-producto-error-message">
      <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

  <form method="post" class="editar-producto-form">
    {% csrf_token %}
    <div class="editar-producto-group">
      {{ form.nombre.label_tag }} {{ form.nombre }}
    </div>
    <div class="editar-producto-group">
      {{ form.descripcion.label_tag }} {{ form.descripcion }}
    </div>
    <div class="editar-producto-group">
      {{ form.fecha_caducidad.label_tag }} {{ form.fecha_caducidad }}
    </div>
    <div class="editar-producto-group">
      {{ form.lote.label_tag }} {{ form.lote }}
    </div>
    <div class="editar-producto-group">
      {{ form.precio.label_tag }} {{ form.precio }}
    </div>
    <div class="editar-producto-group">
      {{ form.presentacion.label_tag }} {{ form.presentacion }}
    </div>
    <div class="editar-producto-group">
      {{ form.stock.label_tag }} {{ form.stock }}
    </div>
    <div class="editar-producto-group">
      {{ form.sustancia.label_tag }} {{ form.sustancia }}
    </div>

    <button type="submit" class="editar-producto-btn-submit">Actualizar Producto</button>

    <a href="{% url 'inventario' %}" class="editar-producto-button-back">
      <i class="fa fa-arrow-left"></i> Volver al Inventario
    </a>
  </form>
</div>


{% endblock %}
